<div id="footer">
    <div class="box">
        <div class="item">
            <div class="icon">
                <mat-icon>room</mat-icon>
            </div>
            <span>Đại học Nguyễn Tất Thành-NTTU</span>
        </div>
        <div class="item">
            <div class="icon">
                <mat-icon>mail</mat-icon>
            </div>
            <span>1911549459@nttu.edu.vn</span>
        </div>
        <div class="item">
            <div class="icon">
                <mat-icon>call</mat-icon>
            </div>

            <span>0962 717 401</span>
        </div>

    </div>
    <div class="box">
        <form action="">
            <label for="firstname">TÊN</label>
            <input type="text" id="firstname" placeholder="Nhập tên của bạn">
            <label for="surname">HỌ</label>
            <input type="text" id="surname" placeholder="Nhập họ">
            <label for="email">EMAIL</label>
            <input type="email" id="email" placeholder="Nhập email">
            <label for="phone">SỐ ĐIỆN THOẠI</label>
            <input type="text" id="phone" placeholder="Nhập số điện thoại chính chủ">
            <input type="submit" value="Nhận tư vấn">

        </form>
    </div>
    <div class="box">
        Bạn cần tư vấn về sản phẩm
        <button>Liên hệ ngay</button>
    </div>
</div>
