<div id="page">
    <div class="logo">
        <mat-icon>shutter_speed</mat-icon>
    </div>
    <div class="content">
        <div class="left">
            <div class="title">
                <h1>WELCOME</h1>
            </div>
            <p>Chào mừng đến website bán quần áo thể thao
            </p>
        </div>
        <div class="right">
            <form action="">
                <h1>LOGIN</h1>
                <input type="text" placeholder="Username" id="username">
                <input type="password" placeholder="Password" id="password">
                <input type="submit" value="LOGIN">
                <P>Nếu bạn chưa có tài khoản đăng ký tại đây !!</P>
                <input type="submit" value="REGISTER">
            </form>
        </div>
    </div>
</div>

