<h1>Giới thiệu về WebBanDo</h1>
<h3>WebBanDo là một hệ sinh thái thương mại tất cả trong một, gồm các công ty thành viên như:</h3>
<br/>
<h3>- Công ty cổ phần là đơn vị thiết lập, tổ chức sàn thương mại điện tử để các Nhà bán hàng thể tiến hành một phần hoặc toàn bộ quy trình mua bán hàng hóa, dịch vụ trên sàn thương mại điện tử.</h3>
<h3>- Công ty TNHH Smart Logistics ("TNSL") là đơn vị cung cấp các dịch vụ logistics đầu-cuối, dịch vụ vận chuyển, dịch vụ bưu chính cho Sàn thương mại điện tử</h3>
<h3>- Công ty TNHH MTV Thương mại là đơn vị bán hàng hóa, dịch vụ trên sàn thương mại điện tử </h3>
<h3>- Đơn vị bán lẻ Trading và Sàn Giao dịch cung cấp 10 triệu sản phẩm từ 26 ngành hàng phục vụ hàng triệu khách hàng trên toàn quốc.</h3>
<br/>
<h3>Với phương châm hoạt động “Tất cả vì Khách Hàng”, WebBanDo luôn không ngừng nỗ lực nâng cao chất lượng dịch vụ và sản phẩm, từ đó mang đến trải nghiệm mua sắm trọn vẹn cho Khách Hàng Việt Nam với dịch vụ giao hàng nhanh trong 2 tiếng và ngày hôm sau WebBanDoNOW lần đầu tiên tại Đông Nam Á, cùng cam kết cung cấp hàng chính hãng với chính sách hoàn tiền 111% nếu phát hiện hàng giả, hàng nhái.</h3>
<br />
<h3>Thành lập từ tháng 3/2010, WebBanDo hiện đang là trang thương mại điện tử lọt top 2 tại Việt Nam và top 6 tại khu vực Đông Nam Á.</h3>
<br>
<h3>WebBanDo lọt Top 1 nơi làm việc tốt nhất Việt Nam trong ngành Internet/E-commerce 2018 (Anphabe bình chọn), Top 50 nơi làm việc tốt nhất châu Á 2019 (HR Asia bình chọn).</h3>
<br/>
<h1>Thông tin về công ty</h1>
<h3>- Công ty Cổ Phần</h3>
<h3>- Địa chỉ đăng ký kinh doanh: 29/1, đường số 4, KP.3, P. Bình Khánh, Q.2, TPHCM, Việt Nam</h3>
<h3>- Giấy chứng nhận Đăng ký Kinh doanh số 0309532909 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày 06/01/2010</h3>
<br/>
<h3>Quý khách có nhu cầu liên lạc, trao đổi hoặc đóng góp ý kiến, vui lòng tham khảo các thông tin sau:</h3>
<br/>
<h3>- Liên lạc qua điện thoại: 1900 6035</h3>
<h3>- Liên lạc qua email: Truy cập hotro.WebBanDo.vn</h3>
<h3>- Fanpage của WebBanDo: http://facebook.com/WebBanDo.vn</h3>
<h3>- Đối tác có nhu cầu hợp tác quảng cáo hoặc kinh doanh: marketing@WebBanDo.vn</h3>
<br/>
<h3>- Văn phòng chính: Tòa nhà Viettel, 285 Cách Mạng Tháng 8, Phường 12, Quận 10, Thành phố Hồ Chí Minh.</h3>
<h3>- Văn phòng: 52 Út Tịch, Phường 4, Quận Tân Bình, Thành Phố Hồ Chí Minh.</h3>