<div class="contact_form">
    <h2>Tương Tác</h2>
   <form>
       <div style="margin-left: 390px;" class="col-md-6  to">
            <input type="text" class="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tên';}">
            <input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
            <input type="text" class="text" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Địa Chỉ';}">
       </div>
       <div style="margin-left: 390px;" class="col-md-6  text">
          <textarea value="Nội Dung" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Nội Dung';}">Nội Dung</textarea>
       </div>
       <div class="clearfix"></div>
       <div class="but__center"><input type="submit" value="Gửi Tin Nhắn &gt;&gt;"></div>
   </form>
</div>