<owl-carousel-o [options]="Banner">
    <ng-template carouselSlide>
        <div style="height: 100%">
            <img src="./assets/banner.jpg" alt="Giày bóng đá" routerLink="/Bóng đá">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div style="height: 100%">
            <img src="./assets/banner.jpg" alt="Giày bóng đá" routerLink="/Bóng đá">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div style="height: 100%">
            <img src="./assets/banner.jpg" alt="Giày bóng đá" routerLink="/Bóng đá">
        </div>
    </ng-template>
</owl-carousel-o>