<app-search></app-search>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="cartegory-left">
                <ul>
                    <li><a mat-button routerLink="/Bóng đá">Giày bóng đá</a></li>
                    <li><a mat-button routerLink="/Phụ kiện">Phụ kiện bóng đá</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-8">
            <h1>GIÀY BÓNG ĐÁ</h1>
            <app-not-found [visible]="!shoes||shoes.length<=0" resetLinkText="Quay Về Trang Chủ"></app-not-found>
            <div class="grid-container">
                <div class="row" *ngFor="let shoe of shoes; let i=index ">
                    <div *ngIf="i<6">
                        <div class="col-lg-6" routerLink="/shoe/{{shoe.id}}">
                            <div class="item">
                                <img src="{{shoe.imageUrl}}" alt="{{shoe.name}}">
                                <div >
                                    <a >{{shoe.name}}</a>
                                    <br>
                                    <span>{{shoe.price|currency:'VND':'symbol':'3.0-0':'fr'}}</span>
                                </div>
                            </div>
                        </div>              
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
